build/
dist/
tetris.spec
Don'tStarveMaze/savegame.pkl
/Don'tStarveMaze/__pycache__
Don'tStarveMaze/main.spec
/Don'tStarveMaze/__pycache__
Don'tStarveMaze/__pycache__/ui.cpython-311.pyc
Don'tStarveMaze/__pycache__/settings.cpython-311.pyc
Don'tStarveMaze/__pycache__/camera.cpython-311.pyc
/DazzleTheEyes/puzzle_game/assets/pieces
/DazzleTheEyes/puzzle_game/assets/pieces
/DazzleTheEyes/puzzle_game/assets
/DazzleTheEyes/puzzle_game/assets/pieces
